table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  height: 63px;
  padding: 8px 16px;
  text-align: left;
  border-right: 1px inset ;

}

th {
  font-size: 16px;
  background-color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #EFF2FF;
}

.button {
  
  background-color: #744BFC;
  width: 49px;
  border: none;
  height: 42px;
  border-radius: 29px;
  margin-right: 8px;
}


