<app-social-media-icon iconSrc="assets/youtube.jpg" altText="Youtube" link="https://www.youtube.com/@rastmobile183"></app-social-media-icon>
<app-social-media-icon iconSrc="assets/instagram.jpg" altText="Instagram" link="https://www.instagram.com/mobilerast/"></app-social-media-icon>
<app-social-media-icon iconSrc="assets/behance.jpg" altText="Behance" link="https://www.behance.net/rastmobile"></app-social-media-icon>
<app-social-media-icon iconSrc="assets/linkedin.jpg" altText="LinkedIn" link="https://www.linkedin.com/company/rastmobile/"></app-social-media-icon>
